body {
  font-family: sans-serif;
}


#map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

ul {
  float: right;
}

li {
  float: left;
  list-style-type: none;
}


#stationChart {
  max-width: 100%;
  max-height: 100%;
}

.chart{
  padding: 1%;
  position: absolute;
  bottom: 10%;
  right: 0;
  height: 35%;
  width: 40%;
}

.chart h4{
  visibility: hidden;
  font-weight: lighter;
  text-align: center;
  color: #D3D3D3;
}
